# .gitignore for Mankind project

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Virtual environments
mankind_env/
env/
venv/

# Environment files
.env

# Logs and temp
*.log
*.tmp

# Data dumps
*.sqlite
*.csv
*.parquet
*.json

# Jupyter
.ipynb_checkpoints/

# Misc
.DS_Store
*.zip
